* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#left {
    background: wheat;
    float: left;
    width: 85%;
}
#right {
    width: 15%;
    background: tan;
    float: right;
    padding: 10px;
}
#right li {
    list-style-type: none;
}
button {
    width: 100%;
    max-width: 200px;
    height: 40px;
    border: none;
    margin: 10px auto;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background: white;
    font-size: 15px;
}
input, textarea {
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
input[type='color'] {
    padding: 1px 2px;
    width: 80px;
    height: 30px;
}
h3 {
    text-align: center;
    margin: 10px;
}